<div class='page-space-lg'></div>

<nav class='navbar navbar-inverse navbar-fixed-top' id='sidebar-wrapper' role='navigation'>
  <ul class='nav sidebar-nav'>
    <li class='sidebar-brand'>
      <%=link_to 'Heart Companion', '#', class:'btn btn-default'%>
    </li>
    <li><%=link_to 'Dashboard', clinician_path(@clinician)%></li>
    <li><%=link_to 'Patients', clinicians_patients_path%></li>
    <li><%=link_to 'New Patient', new_clinicians_patient_path%></li>
    <li><%=link_to 'Edit Profile', edit_clinician_path(@clinician)%></li>
  </ul>
</nav>
