<%= render 'clinician_profile', clinician: @clinician%>

<div class='row'>

  <!-- Panel 1 -->
  <%= render '/clinicians/partials/first', {patients: @patients}%>

  <!-- Panel 2 -->
  <%= render '/clinicians/partials/second', {patients: @patients, datedp: @datedp}%>

  <!-- Panel 3 -->
  <%= render '/clinicians/partials/third', {patients: @patients, atrisk: @atrisk}%>

</div>

<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h4 style='color: #fff;'>Patient Map</h4>
      </div>
      <div class='panel-body'>
        <div style='width: 100%'>
          <div id='map' style='width: 100%; height: 400px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Map Script -->
<script>
  $(document).ready(function(){
    $(document).on('turbolinks:load', function(){
      handler = Gmaps.build('Google');
      handler.buildMap({
          provider: {
            disableDefaultUI: true
            // pass in other Google Maps API options here
          },
          internal: {
            id: 'map'
          }
        },
        function(){
          markers = handler.addMarkers(<%=raw @hash.to_json%>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        }
      );
    });
  });
</script>
