<div class='row'>
  <div class='col-xs-offset-4 col-sm-offset-4 col-xs-6 col-sm-6'>
    <h1>Clinician Log In</h1>
  </div>
</div>

<div class='page-space-lg'></div>

<%=form_tag clinicians_sessions_path, method: :post, class: 'form-horizontal' do %>

  <div class='row'>
    <div class='form-group'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= label_tag :username, nil, class:'control-label'%>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%=text_field_tag :username, nil, class:'form-control'%>
      </div>
    </div>
  </div>

  <div class='form-space'></div>

  <div class='row'>
    <div class='form-group'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= label_tag :password, nil, class:'control-label'%>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%=password_field_tag :password, nil, class:'form-control'%>
      </div>
    </div>
  </div>

  <div class='form-space'></div>

  <div class='row'>
    <div class='form-group'>
      <div class='col-xs-offset-4 col-sm-offset-4 col-xs-3 col-sm-3'>
        <%= submit_tag 'Log In', class:'btn btn-primary'%>
      </div>
    </div>
  </div>

<%end%>
