<div id='abt-content-wrapper-two'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-4'>
        <h4 style='color: #fff; font-size: 20px;'>Meet The Team:</h4>
      </div>
    </div>
    <div class='page-space'></div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-10'>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div class='container'>
            Roderick Fung; Co-Founder.
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class='col-sm-4'>
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/heartcompanion/images/rod3.jpg', width: '100%', style: 'max-height: 250px; object-fit: cover;'%>
        </div>
        <div class='col-sm-8' style='padding-top: 2rem; padding-bottom: 2rem;'>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class='container'>
            Dr. Annie Chou; Co-Founder, Chief Medical Officer
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class='col-sm-4'>
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/heartcompanion/images/annie-chou.jpg', width: '100%', style: 'max-height: 250px; object-fit: cover;'%>
        </div>
        <div class='col-sm-8' style='padding-top: 2rem; padding-bottom: 2rem;'>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div class='container'>
            The Rest of the Team
          </div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'https://s3-us-west-2.amazonaws.com/heartcompanion/images/Lori.jpg', width: '100%', style: 'max-height: 250px; object-fit: cover;'%>
          </div>
          <div class='col-sm-8' style='padding-top: 2rem; padding-bottom: 2rem;'>
            <h4>Lori Block, Medical Advisor</h4>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
        <div class='page-space'></div>
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'https://s3-us-west-2.amazonaws.com/heartcompanion/images/Ishan.jpg', width: '100%', style: 'max-height: 250px; object-fit: cover;'%>
          </div>
          <div class='col-sm-8' style='padding-top: 2rem; padding-bottom: 2rem;'>
            <h4>Ishan Virk, Software Engineer</h4>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
        <div class='page-space'></div>
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'https://s3-us-west-2.amazonaws.com/heartcompanion/images/Lisa.jpg', width: '100%', style: 'max-height: 250px; object-fit: cover;'%>
          </div>
          <div class='col-sm-8' style='padding-top: 2rem; padding-bottom: 2rem;'>
            <h4>Lisa Wong, Software Engineer</h4>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
