<div class='col-sm-4'>
  <div class='panel panel-warning'>

    <div class='panel-heading'>
      <h6 style='color: #fff;'> High Risk Patients </h6>
    </div>
    <div class='dashboard-table dashboard-panel'>
      <table class='table table-striped'>
        <tr>
          <th>Full Name</th>
          <th>Heart Rate</th>
          <th>Blood Pressure</th>
        </tr>
        <% atrisk.each do |patient|%>
          <tr>
            <td>
              <%= link_to clinicians_patient_path(patient) do %>
                <b><%=patient.full_name%></b>
              <%end%>
            </td>
            <td><%=patient.patient_logs.average(:heartrate).to_i%></td>
            <td>
              <%=patient.patient_logs.average(:bp_hi).to_i%> / <%=patient.patient_logs.average(:bp_low).to_i%>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>
