<%= form_for [:clinicians, @patient], html: {class: 'form-horizontal'} do |f| %>

  <div class='row'>
    <div class='col-sm-offset-1'>
      <h4>Blood Pressure Parameters</h4>
    </div>
  </div>

  <!-- <div class='page-space'></div> -->

  <!-- BP Low -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-6'>
        <%= f.label :bplow, 'Diastolic Blood Pressure Limit', class: 'control-label'%>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
        <div id='bplow-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class='col-sm-1'>
        <input type='text' name='patient[bplow]' id='bplow' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <!-- BP High -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-6'>
        <%= f.label :bphigh, 'Systolic Blood Pressure Limit', class: 'control-label' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
        <div id='bphigh-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class='col-sm-1'>
        <input type='text' name='patient[bphigh]' id='bphigh' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <div class='page-space'></div>

  <div class='row'>
    <div class='col-sm-offset-1'>
      <h4>Heart Rate Parameters</h4>
    </div>
  </div>

  <!-- <div class='page-space'></div> -->

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-6'>
        <%= f.label :hrlow, 'Minimum Heart Rate Limit', class: 'control-label'%>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
          <div id='hrlow-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class='col-sm-1'>
        <input type='text' name='patient[hrlow]' id='hrlow' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-6'>
        <%= f.label :hrhigh, 'Maximum Heart Rate Limit', class:'control-label'%>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
        <div id='hrhigh-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class='col-sm-1'>
        <input type='text' name='patient[hrhigh]' id='hrhigh' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <div class='page-space'></div>

  <div class='row'>
    <div class='col-sm-offset-1'>
      <h4>Weight Parameters</h4>
    </div>
  </div>

  <!-- <div class='page-space'></div> -->

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-4'>
        <%= f.label :lblow, 'Minimum Weight Limit', class: 'control-label'%>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
        <div id='lblow-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class='col-sm-1'>
        <input type='text' name='patient[lblow]' id='lblow' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-6'>
        <%= f.label :lbhigh, 'Maximum Weight Limit', class: 'control-label'%>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-1 col-sm-9'>
        <div id='lbhigh-slider' class:'form-control' style='margin-top: 1.2rem;'></div>
      </div>
      <div class=col-sm-1>
          <input type='text' name='patient[lbhigh]' id='lbhigh' readonly style='border: 0; margin-top: 0.7rem;' />
      </div>
    </div>
  </div>

  <div class= 'page-space'></div>

  <div class='row'>
    <center>
      <%= f.submit 'Set Parameters', class: 'btn btn-primary btn-submit'%>
    </center>
  </div>

<%end%>
