<%= form_tag '/patient_logs_in' do%>
  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-4'>
        <h5><%= label_tag :care_id, 'Care Card Number :', class: 'control-label'%></h5>
      </div>
      <div class='col-sm-8'>
        <center>
          <%= text_field_tag :care_id, nil, class: 'form-control'%>
        </center>
      </div>
    </div>
  </div>

  <div class='form-space'></div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-4'>
        <h5><%= label_tag :password, 'Password :', class: 'control-label'%></h5>
      </div>
      <div class='col-sm-8'>
        <center>
          <%= text_field_tag :password, nil, class: 'form-control'%>
        </center>
      </div>
    </div>
  </div>

  <div class='form-space'></div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-4 col-sm-8'>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %> &nbsp;&nbsp; <%=label_tag :remember_me %>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-offset-4 col-sm-4'>
        <%= submit_tag 'Sign In', class: 'btn btn-primary', style: 'width: 100%;'%>
      </div>
    </div>
  </div>

<%end%>
