<!DOCTYPE html>
<html>
  <head>
    <title>Heartapp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar navbar-default navbar-fixed-top bg-faded'>
      <div class='container'>
        <ul class='nav navbar-nav navbar-left'>
          <li><%=link_to 'Heart Companion', root_path, class: 'navbar-brand'%></li>
          <!-- <li><%#link_to 'About Us', abouts_path%></li> -->
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <%if patient_signed_in?%>
              <li><%=link_to "#{current_patient.full_name}", patient_path(@patient)%></li>
            <%else%>
              <li><%=link_to "Welcome!", '#'%></li>
            <%end%>
            <li class='dropdown'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class='glyphicon glyphicon-user'></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              <% if patient_signed_in?%>
                <li>
                  <%= link_to edit_patient_path(@patient) do %>
                    <i class='glyphicon glyphicon-cog'></i>&nbsp;&nbsp;<span>Edit Profile</span>
                  <%end%>
                </li>
                <li>
                  <%= link_to logout_path, method: :delete do%>
                    <i class='glyphicon glyphicon-off'></i>&nbsp;&nbsp;<span>Log Out</span>
                  <%end%>
                </li>
              <%else%>
                <li><%=link_to 'Log In as a Patient', patient_log_in_path%></li>
              <%end%>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Side Nav -->
    <div id="wrapper">
      <div class="overlay"></div>
      <%= render 'patients/sidebar', patient: @patient %>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
          <div class='alert-success'>
            <center><%=flash[:notice]%></center>
          </div>
          <div class='alert-danger'>
            <center><%=flash[:alert]%></center>
          </div>
          <div class="row">
            <%=yield%>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
  </body>
</html>
