<div class='row'>
  <div class='col-sm-offset-2 col-sm-6'>
    <h1>Patient List</h1>
  </div>
</div>

<div class='page-space-lg'></div>

<div class='row'>
  <div class='col-sm-2'>

  </div>
  <div class='col-sm-8'>
    <div class='row'>
      <% @patients.each do |patient| %>
        <div class='col-sm-4'>
          <div class='panel panel-default'>
            <div class= 'panel-heading'>
              <%= link_to clinicians_patient_path(patient) do%>
                <span><%= patient.full_name %></span>
              <%end%>
            </div>
            <div class='panel-body'>
              <div class='row'>
                <div class=col-sm-6>
                  <p>Age: <%= patient.age %></p>
                  <p>Sex: <%= patient.sex %></p>
                </div>
                <div class='col-sm-6'>
                  <p>Last Log Entry: <%= patient.patient_logs.last.date.strftime('%d/%m/%Y') %></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
